<section class="p-5 md:p-10 pt-15 md:pt-20 bg-[#050B14] text-white">
    <div class="container mx-auto space-y-10">
        <div>
            <h1 class="background-font">Aviso legal</h1>
        </div>
        <div class="space-y-2">
            <h2>1. DATOS IDENTIFICATIVOS</h2>
            <p>
                En cumplimiento con el deber de información recogido en la Ley
                34/2002 (LSSI-CE), se facilitan los siguientes datos:
            </p>
            <ul class="list-disc px-10">
                <li>Titular: <b>Daniel Gómez Benítez</b></li>
                <li>NIF/CIF: <b>30217272X</b></li>
                <li>Dirección: <b>Sevilla, España</b></li>
                <li>Email: <b>gobestudio29@gmail.com</b></li>
            </ul>
        </div>
        <div class="space-y-2">
            <h2>2. USUARIOS</h2>
            <p>
                El acceso y uso de este sitio web atribuye la condición de
                usuario, que acepta desde dicho acceso las presentes condiciones
                de uso.
            </p>
        </div>
        <div class="space-y-2">
            <h2>3. USO DEL SITIO WEB</h2>
            <p>
                El titular se reserva el derecho de retirar contenidos o limitar
                el acceso sin previo aviso.
            </p>
        </div>
        <div class="space-y-2">
            <h2>4. PROPIEDAD INTELECTUAL</h2>
            <p>
                Todos los contenidos del sitio web (textos, imágenes, logos,
                etc.) son propiedad del titular o cuentan con licencia de uso.
            </p>
        </div>
        <div class="space-y-2">
            <h2>5. RESPONSABILIDAD</h2>
            <p>
                El titular no se hace responsable del mal uso que se realice del
                contenido del sitio web.
            </p>
        </div>
    </div>
</section>

<style>
    h2 {
        font-size: 2rem;
    } /* 32px */
</style>
