<section class="p-5 md:p-10 pt-15 md:pt-20 bg-[#050B14] text-white">
    <div class="container mx-auto space-y-10">
        <div>
            <h1 class="background-font">Accesibilidad</h1>
        </div>
        <div class="space-y-2">
            <h2>1. ESTRUCTURA CLARA</h2>
            <ul class="list-disc px-10">
                <li>
                    Todos los títulos tienen jerarquía correcta (H1, H2, H3)
                </li>
                <li>Se usan listas para agrupar elementos</li>
                <li>
                    El contenido principal se encuentra al inicio de la página
                </li>
            </ul>
        </div>
        <div class="space-y-2">
            <h2>2. TEXTO LEGIBLE</h2>
            <ul class="list-disc px-10">
                <li>Fuente Montserrat, tamaño mínimo 16px</li>
                <li>Contraste alto entre texto y fondo</li>
                <li>No se usan colores como única vía de información</li>
            </ul>
        </div>
        <div class="space-y-2">
            <h2>3. FORMULARIO DE CONTACTO</h2>
            <ul class="list-disc px-10">
                <li>
                    Todos los campos tienen etiquetas &lt;label&gt; asociadas
                </li>
                <li>El checkbox de política de privacidad es accesible</li>
                <li>Mensajes de error claros y descriptivos</li>
                <li>Se permite navegar con teclado (TAB) y enviar con Enter</li>
            </ul>
        </div>
        <div class="space-y-2">
            <h2>4. IMÁGENES Y LOGOS</h2>
            <ul class="list-disc px-10">
                <li>Todas las imágenes tienen texto alternativo (alt)</li>
                <li>
                    Logos y elementos decorativos marcados como “presentational”
                    si no aportan información
                </li>
            </ul>
        </div>
        <div class="space-y-2">
            <h2>5. ENLACES</h2>
            <ul class="list-disc px-10">
                <li>Los enlaces tienen texto descriptivo</li>
                <li>Evitar “clic aquí” o “más info” sin contexto</li>
                <li>Se puede navegar solo con teclado</li>
            </ul>
        </div>
        <div class="space-y-2">
            <h2>6. MULTIMEDIA</h2>
            <ul class="list-disc px-10">
                <li>Videos (si los hubiera) tienen subtítulos</li>
                <li>No se reproduce sonido automáticamente</li>
            </ul>
        </div>
        <div class="space-y-2">
            <h2>7. ACCESIBILIDAD PARA LECTORES DE PANTALLA</h2>
            <ul class="list-disc px-10">
                <li>Uso correcto de ARIA roles donde sea necesario</li>
                <li>Evitar tablas para maquetación</li>
                <li>Formularios y menús navegables por teclado</li>
            </ul>
        </div>
    </div>
</section>

<style>
    h2 {
        font-size: 2rem;
    } /* 32px */
</style>
